  <h1><img src="__PUBLIC__/Admin/images/logo.gif" />天天书屋后台管理系统</h1>
</div>
<div id="left">
  <h3><img src="__PUBLIC__/Admin/images/houtai1_03.gif" />商品管理<img src="__PUBLIC__/Admin/images/houtai1_03.gif" /></h3>
  <ul>
    <li><img src="__PUBLIC__/Admin/images/houtai_03.gif" /><a href="__APP__/book/BookAddShow">填加商品</a></li>
    <li><img src="__PUBLIC__/Admin/images/houtai_03.gif" /><a href="__APP__/book/BookShow">编辑商品</a></li>
  </ul>
  <h3><img src="__PUBLIC__/Admin/images/houtai1_03.gif" />类别管理<img src="__PUBLIC__/Admin/images/houtai1_03.gif" /></h3>
  <ul>
    <li><img src="__PUBLIC__/Admin/images/houtai_03.gif"  border="0px"/><a href="__APP__/type/typeshow">编辑类别</a></li>
    <li><img src="__PUBLIC__/Admin/images/houtai_03.gif" /><a href="__APP__/type/typeaddshow">填加类别</a></li>
  </ul>
  <h3><img src="__PUBLIC__/Admin/images/houtai1_03.gif" />会员管理<img src="__PUBLIC__/Admin/images/houtai1_03.gif" /></h3>
  <ul>
    <li><img src="__PUBLIC__/Admin/images/houtai_03.gif" /><a href="__APP__/user/usershow">会员管理</a></li>
  </ul>
  <h3><img src="__PUBLIC__/Admin/images/houtai1_03.gif" />订单管理<img src="__PUBLIC__/Admin/images/houtai1_03.gif" /></h3>
  <ul>
    <li><img src="__PUBLIC__/Admin/images/houtai_03.gif" /><a href="__APP__/Dingdan/DingdanShow">编辑订单</a></li>
  </ul>
  <h3><img src="__PUBLIC__/Admin/images/houtai1_03.gif" />公告管理<img src="__PUBLIC__/Admin/images/houtai1_03.gif" /></h3>
  <ul>
    <li><img src="__PUBLIC__/Admin/images/houtai_03.gif" /><a href="__APP__/gonggao/gonggaoshow">编辑公告</a></li>
    <li><img src="__PUBLIC__/Admin/images/houtai_03.gif" /><a href="__APP__/gonggao/GonggaoAddShow">添加公告</a></li>
  </ul>