<h3><img src="__PUBLIC__/Home/images/left.gif" />图书分类</h3>
<h4><img src="__PUBLIC__/Home/images/login2.gif" /><a href="__APP__/Home/yuding/yuding/type/3/typeid/1">科技类</a></h4>
<h4><img src="__PUBLIC__/Home/images/login2.gif" /><a href="__APP__/Home/yuding/yuding/type/3/typeid/2">教育类</a></h4>
<h4><img src="__PUBLIC__/Home/images/login2.gif" /><a href="__APP__/Home/yuding/yuding/type/3/typeid/3">文艺类</a></h4>
<h4><img src="__PUBLIC__/Home/images/login2.gif" /><a href="__APP__/Home/yuding/yuding/type/3/typeid/4">青春类</a></h4>
<h4><img src="__PUBLIC__/Home/images/login2.gif" /><a href="__APP__/Home/yuding/yuding/type/3/typeid/5">励志类</a></h4>
<h4><img src="__PUBLIC__/Home/images/login2.gif" /><a href="__APP__/Home/yuding/yuding/type/3/typeid/6">生活类</a></h4>
<h4><img src="__PUBLIC__/Home/images/login2.gif" /><a href="__APP__/Home/yuding/yuding/type/3/typeid/7">管理类</a></h4>