  <ul>
    <li><a href="__APP__/Home/index/index">首页</a></li>
    <li><a href="__APP__/Home/yuding/yuding/type/1">新书预售</a></li>
    <li><a href="__APP__/Home/yuding/yuding/type/2">推荐图书</a></li>
    <li><a href="__APP__/Home/yuding/yuding/type/3/typeid/1">科技图书</a></li>
    <li><a href="__APP__/Home/yuding/yuding/type/3/typeid/2">教育图书</a></li>
    <li><a href="__APP__/Home/yuding/yuding/type/3/typeid/3">文艺图书</a></li>
    <li><a href="__APP__/Home/yuding/yuding/type/3/typeid/4">青春图书</a></li>
    <li><a href="__APP__/Home/yuding/yuding/type/3/typeid/5">励志图书</a></li>
    <li><a href="__APP__/Home/yuding/yuding/type/3/typeid/6">生活图书</a></li>
    <li><a href="__APP__/Home/yuding/yuding/type/3/typeid/7">管理图书</a></li>
  </ul>