<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>图片商城首页</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/gonggao.css" />
</head>
<body>
<div id="header">
  <include file="Public/title"/>
</div>
<div id="nav" >
  <include file="Public/nav"/>
</div>
<div id="content">
<h1 style="width:100%; margin:10px 0; text-align:center;">{$list.title}</h1>
<p>{$list.content}</p>
</div>
<div id="footer">
  <p>互联网信息服务备案编号：冀ICP备06001111号 技术支持：计算机系</p>
  <p>Copyright @2012-2019,All Rights Reserved  京ICP证041189号</p>
</div>
</body>
</html>
